@media print {
  .VideoPlayer__wrapper {
    padding: 0;
    width: auto;
  }

  .SectionVideo iframe {
    display: none;
  }

  .SectionVideo img {
    display: block;
    background: pink;
    width: auto;
    height: auto;
  }
}
