{% from '../Section/Section.njk' import Section with context %}

{% macro SectionVideo(name) %}
{%- set video_content = video_block(name) -%}
{{ Section(name, className='SectionVideo', content=video_content) }}
{% endmacro %}

{% macro video_block(name) %}
<div class="VideoPlayer__container VideoPlayer__lightbox" type="video" id="c_video_player">
  <div class="VideoPlayer__wrapper">
  <iframe id="{{ getFormattedProp(name, 'video_id') }}" title="{{ getFormattedProp(name, 'heading') }}" src="https://www.youtube.com/embed/{{ getFormattedProp(name, 'youtube_code') }}?enablejsapi=1&amp;origin={{ req.servername }}" frameborder="0" allowfullscreen=""></iframe>
  </div>
</div>
{% endmacro %}