&-article-list {
  clear:both;
  padding-top: $vspacing*2;
  .u-cards#cards-preparing {
    margin-top: -5rem;
    +above(m) {
      margin-top: -2rem;
    }
  }
  .u-cards > h2 {
    padding: $spacing 0;
    font-size: 2.4rem;
    +above(m) {
      font-size: 4rem;
    }
    border-bottom: 1px solid #6f777b;
    margin-bottom: 2rem;
  }
  &__summary {
    cf();
    padding: $spacing;
    margin-bottom: $vspacing*2;
    h1 {
      a {
        color: $links;
      }
    }

  }
  &.updating > * {
    opacity: 0.25;
  }
}
