&-article-list {
  clear:both;
  background-color: #EDEDED;
  padding-top: $vspacing*2;
  h2 {
    padding: $spacing;
    font-size: $mantle;
  }
  &__summary {
    cf();
    padding: $spacing;
    margin-bottom: $vspacing*2;
    h1 {
      a {
        color: $links;
      }
    }

  }
}
