&-article-list {
  clear:both;
  background-color: #EDEDED;
  &__summary {
    cf();
    padding: $spacing;
    margin-bottom: $vspacing*2;
    h1 {
      a {
        color: $links;
      }
    }

  }
}
