&-body-copy {
  blockquote {
    ff-blockquote();
  }

  h2 {
    margin-top: $componentVSpacing;
    margin-bottom: $vspacing*2.5;
  }

  ul {
    margin-bottom: $componentVSpacing;
  }

  hr {
    height: 1px;
    border:0;
    background: $border;
    margin: $vspacing*6 0;
  }

}
