&-body-copy {
  blockquote {
    padding: $vspacing $hspacing*2 1px;
    border-left: $hspacing solid lighten($primary, 60%);
    margin: $componentVSpacing 0;
  }

  h2 {
    margin-top: $componentVSpacing;
    margin-bottom: $vspacing*2.5;
  }

  ul {
    margin-bottom: $componentVSpacing;
  }

  hr {
    height: 1px;
    border:0;
    background: $border;
    margin: $vspacing*6 0;
  }

}
