&-breadcrumbs {
  margin-bottom: 0;
  .u-primary & {
    margin-left:0;
    list-style: none;
    & li {
      margin-bottom: 0;
    }
    +below(m) {
      padding-top: 0;
      line-height: 1;
      margin-top: -0.5rem;
    }
  }
  padding-top: $vspacing;

  li {
    display:inline-block;
    margin-bottom: 0;
    &:not(:last-of-type) {
      &:after {
        content: ">";
        color: rgba($dark, .6);
        display:inline-block;
        margin: 0 ($hspacing/2) 0 $hspacing;
      }
    }
    a {
      color: $dark;
    }
  }
}
