&-filter {
  background-color: $tertiary;
  color: $light;
  margin-bottom:0;
  > span {
    display:inline-block;
    padding: $spacing*2 $spacing*4 $spacing*2 $spacing*2;
    icon("\61");
    &:before {
      float:right;
      margin-left:$hspacing*2;
      margin-top:3px;
    }
  }
  li {
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
    padding: $spacing;
  }
  label {
    display:block;
  }
}
