&-filter {
  position: relative;
  background-color: $tertiary;
  color: $light;
  margin-bottom:0;
  > span {
    cursor: pointer;
    display:inline-block;
    padding: $spacing*2 0 $spacing*2 5rem;
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    &:before {
      position: absolute;
      left: 0;
      display: inline-block;
      content: "▶";
      margin-left:$hspacing*2;
      margin-top:0;
      transition: transform .1s ease-in-out;
      width: 2rem;
    }
    &.expand:before {
      transform: rotate(90deg);
      margin-left: $hspacing*1.5;
    }
    +above(m) {
      font-size: $outerCore*1.2;
    }
  }
  ul {
    +above(m) {
      padding: $spacing;
    }
  }
  li {
    +above(m) {
      display: inline-block;
    }
  }
  label {
    display: block;
    +above(m) {
      display: inline-block;
    }
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
    padding: $spacing;
    cursor: pointer;
    &:hover {
      background-color: rgba($light, 20%);
    }
    +above(m) {
      display: inline-block;
      margin: ($spacing/2);
      padding: $vspacing $hspacing*2.45;
      border: 1px solid $light;
    }
  }
  .checked label {
    background-color: $dark;
    &:after {
      icon("\79");
      line-height: 0;
      display: inline-block;
      margin-left: $hspacing;
    }
    +above(m) {
      padding: $spacing;
    }
  }
  form {
    overflow: hidden;
    transition: max-height .2s linear;
    max-height: 0;
    &.expand {
      max-height: 9999px;
    }
    +above(m) {
      border-top: 1px solid $light;
    }
  }

  input {
    display: none;
  }

  // .expand {
  //   &:before {
  //     content: "▼"
  //     transform: rotate(180deg);
  //   }
  // }
}
