&-headed-text {
  margin-bottom: $vspacing;

  h1 {
    font-size: $mantle;
    margin-bottom: 1.5rem;
  }

  p {
    ff-body();
  }
  p.heading {
    margin-bottom: 0;
  }
  .u-primary & {
    h1 {
      font-size: $crust;
      font-size: 4.8rem;
      margin-top: 4rem;
    }
  }

}
