&-headed-text {
  padding: $vspacing;
  padding-left: 0;
  margin-bottom: $vspacing;

  h1 {
    font-size: $mantle;
    margin-bottom: $vspacing;
  }

  p {
    ff-body();
  }
  .u-primary & {
    h1 {
      font-size: $crust;
    }
    p:first-of-type {
      font-size: $baseFont*2.4;
    }
  }

}
