&-proscons {
  h2 {
    font-size: $outerCore;
    padding: 0;
    margin-bottom: $vspacing;
  }
  li {
    position:relative;
    padding-left: $hspacing*2.5;
    margin-bottom: $vspacing*1;
    font-size: $smallCopy;
    line-height: $lineHeight*1.5;
    &:before {
      position:absolute;
      left: 0;
      top: ($vspacing/3);
      margin-right: $hspacing;
    }
  }
  &__pros {
    li:before {
      color: #65C001;
    }
  }

  &__cons {
    margin-top: $vspacing*3;
    li:before {
      color: #D0021B;
    }
  }
  padding: 1.5rem 1.5rem 1rem;
  background: #f8f8f8;
  border-top: solid 10px #005ea5;
  border-bottom: solid 1px #b4b4b4;

  .c-usp-callout + aside & {
    +above(m) {
      margin-top: 2rem;
    }
  }
}
