&-quick-links {
  ff-body();
  padding-left: 0;
  margin: 0;
  ul {
    li {
      padding-left: 0;
      +above(l) {
        padding: $spacing 0;
      }
    }
  }
  +above(l) {
    margin-top: 13rem;
  }
}
