&-steps {
  .c-step {
    position: relative;
    padding-top: 2.5rem;
    +above(m) {
      padding-top: 3rem;
      min-height: 26rem;
    }
    border-bottom: solid 1px #6f777a;
    // background-image: url(/static/images/steps/step-divider.svg);
    // background-repeat: no-repeat;
    // background-position: 50% 0;
    // margin-top: 3rem;
    &.c-step-0 {
      // background: none;
      padding-top: 2rem;
      margin-top: 0;
      & .c-step-count {
        top: 2.25rem;
      }
    }
    .c-step-count {
      color: #6f777a;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: bold;
      background-repeat: no-repeat;
      padding-left: 3.5rem;
      background-size: 2.5rem;
      margin-bottom: 1rem;
    }
    +above(m) {
        & > * {
          padding-left: 9rem;
        }
      .c-step-count {
        position: absolute;
        padding-left: 0;
        top: 3.25rem;
        width: 10rem;
        height: 8rem;
        background-position: 0 100%;
        background-size: 5rem;
      }
    }

    h2 {
      font-size: 2.4rem;
      margin-bottom: 1.5rem;
    }
  }

  blockquote {
    ff-blockquote();
  }
}

.step-hire-lawyer {
  background-image: url(/static/images/steps/step-hire-lawyer.svg)
}
.step-attend-miam {
  background-image: url(/static/images/steps/step-attend-miam.svg)
}
.step-apply-order {
  background-image: url(/static/images/steps/step-apply-order.svg)
}
.step-attend-court {
  background-image: url(/static/images/steps/step-attend-court.svg)
}


.step-meet-lawyer {
  background-image: url(/static/images/steps/step-meeting-2-way.svg)
}
.step-first-meeting {
  background-image: url(/static/images/steps/step-meeting-4-way.svg)
}
.step-agreement {
  background-image: url(/static/images/steps/step-agreement.svg)
}