&-usp-callout {
  margin-top: $vspacing;
  margin-bottom: $vspacing;
  blockquote {
    font-size: $smallCopy;
    line-height: $lineHeight * 1.6;
    padding: $vspacing $hspacing*2;
    border-left: 8px solid #BFC1C3;

    strong {
      display: block;
      &:after {
        content: "...";
      }
    }
  }

}
