&-who-is-involved {
  clear:both;
  text-align: center;
  +above(l) {
    text-align: left;
  }
  h2 {
    font-size: $outerCore;
    padding: 0;
    margin-bottom: $vspacing;
  }
  .u-card & {
    margin-bottom: 0;
  }

  table {
    width: 96%;
    caption-side: bottom;
    font-size: $innerCore;
    caption {
      padding: $spacing 0;
    }
    tr {
      border-bottom: 1px solid $border;
    }
    th {
      padding: 1em 0;
      span {
        font-weight: bold;
        &:first-of-type {
          &:after {
            content: "&";
            display: inline;
            padding: 0 0.25rem 0 0.5rem;
          }
        }
        &:last-of-type {
          padding-left: 0;
          text-transform: lowercase;
        }
        .u-card & {
          +above(m) {
            span(1/2);
            &:first-of-type {
              width: 40%;
              &:after {
                display: none;
              }
            }
            &:last-of-type {
              width: 60%;
              text-transform: none;
            }
          }
        }
      }
    }
    td {
      display: block;
      text-align: left;
      position: relative;
      word-wrap: break-word;
      padding: $vspacing;
      &:first-of-type {
        font-weight: bold;
      }
      +above(m) {
        .u-card & {
          span(1/2);
          padding: $vspacing*1.5 $hspacing $vspacing*1.5;
          text-align: left;
          &:first-of-type {
            font-weight: normal;
          }
          &.wii-icon {
            width: 40%;
          }
          &.wii-amount {
            width: 60%;
          }
        }
      }

      &:before {
        position: absolute;
        left: 0;
        top: $vspacing;
        font-size: 25px //px value used to size icon font
      }
      &:nth-of-type(odd) {
        padding-left: $hspacing*5;
      }

      .lozenge {
        position: absolute;
        bottom: $vspacing;
        left: $hspacing*1.5;
        background-color: $light;
        width: 20px;
        height: 20px;
        line-height: 1.6;
        text-align: center;
        border-radius: 100%;
        font-size: $baseFont*1.2;
        font-weight: bold;
        &:before {
          display: inline;
          content: "x";
        }
      }
    }
    .cost-amount {
      display: block;
    }
    .wii-icon {
      padding-left: 5rem !important;
      font-weight: bold;
    }
    .wii-cost {
      padding-left: 5rem;
      padding-right: 0;
      margin-top: -1.5rem;
    }
    .u-card & {
      +above(m) {
        .wii-cost {
          padding-left: 0 !important;
          margin-top: 0;
        }
        .cost-type {
          padding-right: 0.5rem;
        }
        .cost-amount {
          display: inline-block;
          white-space: no-wrap;
        }
      }
    }
  }
  .c-proscons + & {
    margin-top: 3rem;
  }
}
