{% macro FeedbackBanner() %}
<div class="FeedbackBanner">
<div class="gv-o-wrapper">
<h3 class="FeedbackBanner__heading">{{ Block.String('FeedbackBanner__heading') }}</h3>
<p class="FeedbackBanner__link">{{ Block.String('FeedbackBanner__link') }}</p>
</div>
</div>
{% endmacro %}
{# data-link-type="feedback-banner" #}