.FeedbackBanner {
  background: #2e358b;
  color: #ffffff;
  padding: 0.5rem 0 1rem;
}
.FeedbackBanner a {
  color: #ffffff;
}
.FeedbackBanner__heading {
  font-size: 1.9rem;
  font-weight: bold;
}
.FeedbackBanner__link {
  margin: 0;
}