.moj-FeedbackBanner {
  background: #2e358b;
  color: #ffffff;
  padding: 0.5rem 0 1rem;
}
.moj-FeedbackBanner a {
  color: #ffffff;
}
.moj-FeedbackBanner__heading {
  font-size: 1.9rem;
  font-weight: bold;
}
.moj-FeedbackBanner__link {
  margin: 0;
}