.FeedbackBanner {
  background: #2e358b;
  color: #fff;
  padding: 0.5rem 0 1rem;
}

.FeedbackBanner a {
  color: #fff;
}

.FeedbackBanner__heading {
  font-size: 1.9rem;
  font-weight: bold;
  margin: 0;
}

.FeedbackBanner__link {
  margin: 0;
}
