{% macro FeedbackBanner() %}
<div class="moj-FeedbackBanner">
<div class="gv-o-wrapper">
<h3 class="moj-FeedbackBanner__heading">{{ Block.String('string:FeedbackBanner_heading') }}</h3>
<p class="moj-FeedbackBanner__link">{{ Block.String('string:FeedbackBanner_link') }}</p>
</div>
</div>
{% endmacro %}
{# data-link-type="feedback-banner" #}