{% import "components/components.njk" as govuk %}
{##
 # Display breadcrumb block based on provided data
 #
 # @param {string} [class]           = 'o-breadcrumb o-breadcrumb--rev'
 #                                          Class of list
 # @param {string} [itemsClass]      = 'o-breadcrumb__item'
 #                                          Class of list items
 # @param {string} [anchorsClass]    = ''   Class of anchors inside list itmes
 # @param {string} [rootItemClass]   = 'o-breadcrumb__item--root'
 #                                          Class of root (first) list item
 # @param {string} [rootAnchorClass] = ''   Class of anchor inside of root list item
 # @param {bool}   [displayLast]     = true Display last crumb or not
 # @param {array}  [breadcrumb]      = page.breadcrumb
 #                                          Breadcrumb in form of array to iterate upon
 # @param {string} [rootTitle]       = getPage(['index']).props.breadcrumbTitle
 #                                          Title for root element
 # @param {object} [placeholders]    = site.placeholders
 #                                          Object with values for occuring in titles sprintf placeholders
 #
 # @return {string} Generated `ul` with breadcrumb
 #
 # @example {{ Breadcrumb() }}
 #}
{% macro Posh(
  class           = 'o-breadcrumb',
  itemsClass      = 'o-breadcrumb__item',
  anchorsClass    = '',
  rootItemClass   = 'o-breadcrumb__item--root',
  twat          = ''
) %}
<p>Goodbye posh {{ rootItemClass }}, woot? {{ woot }}, twat? {{ twat }}</p>
{{ govuk.button(text="Save and continue") }}
{{ Block.Pish() }}
{% endmacro %}

{% macro foo(depth=1) %}
<p>Depth {{depth}}</p>
{% if depth < 4 %}
{{ foo(depth=depth+1)}}
{% endif %}
{% endmacro %}