@import 'SummaryAreas--all.pcss';
@import 'SummaryArea/SummaryArea.pcss';
@import 'SectionVideo/SectionVideo.pcss';

.SummaryAreas__heading {
  font-size: 2.8rem;
  padding: 0 0 1.5rem;
  margin-bottom: 2rem;
}

.SummaryAreas + .SummaryAreas {
  margin-top: -3rem;
}

@media (--kit-medium) {
  .SummaryAreas__heading {
    font-size: 4rem;
  }
}
