<p>When you use this service certain information or data about you is collected.</p>

<p>This includes:</p>

<ul>
<li>any questions or feedback you leave</li>
<li>your email address (if you leave feedback)</li>
<li>your IP address, and details of which version of web browser you used</li>
<li>information on how you use the site</li>
</ul>

<p>This helps us to:</p>

<ul>
<li>improve the site by monitoring how you use it</li>
<li>respond to any feedback or questions you send us, if you’ve asked us to</li>
</ul>

<p>We can’t identify you using your data.</p>

<h2>Where your data is stored</h2>

<p>Any information you provide when using the service is held by <a href="https://www.surveymonkey.co.uk/">SurveyMonkey</a>. Check the <a href="https://www.surveymonkey.co.uk/mp/policy/privacy-policy/">SurveyMonkey privacy policy</a> to find out what it does with your information.</p>

<h2>Links to other websites</h2>

<p>This privacy policy only applies to this service. It doesn’t cover the other services and websites that we link to.</p>

<h2>Following a link to another website</h2>

<p>If you go to another website from this service, read the privacy policy on that website to find out what it does with your information.</p>

<h2>Following a link to this service from another website</h2>

<p>If you come to this service from another website, we may receive personal information about you from the other website. Read the privacy policy of that website to find out more.</p>