<section id="peer-support">
  <h2>Peer support</h2>
  <p>Using online forums or going to groups is a valuable way of communicating with people who have been through a similar experience.</p>
  <section
    id="online-forums">
    <h3>Use online forums</h3>
    <p>Online forums allow you to share your story, tell people how you're feeling and discuss any concerns you have.</p>
    <p>You can get advice from others by posting a question or sharing your story.</p>
    <p>The following are examples of helpful forums:</p>
    <ul>
      <li><a href="http://www.theparentconnection.org.uk/posts">Parent Connection</a></li>
      <li><a href="https://www.dad.info/forum/index">Dad.info</a></li>
      <li><a href="https://www.netmums.com/coffeehouse/">Netmums</a></li>
      <li><a href="http://www.wikivorce.com/divorce/About-Us.html">Wikivorce</a></li>
      <li><a href="https://gingerbread.org.uk/Forum/default.aspx">Gingerbread</a></li>
    </ul>
    <p></p>
</section>
<section id="find-local-group">
  <h3>Find a group near you</h3>
  <p>Look for a <a href="https://www.meetup.com/find/parents-family/">family meet-up group</a> or <a href="https://www.meetup.com/find/?allMeetups=false&amp;keywords=single+parent+support&amp;radius=50&amp;userFreeform=London%2C+United+Kingdom&amp;mcId=z1012717&amp;mcName=London%2C+England%2C+GB&amp;sort=default&amp;eventFilter=mysugg">single parents network</a> in your area. Both work in the same way as forums but the focus is usually on meeting face to face.</p>
</section>
</section>
<section id="professional-advice">
  <h2>Professional advice</h2>
  <p>You should consider professional advice (for example seeing a counsellor or attending meetings) if you feel you're struggling to cope.</p>
  <section id="counselling">
    <h3>Counselling</h3>
    <p>A professional counsellor can help you understand issues such as:</p>
    <ul>
      <li>how to reduce emotional stress</li>
      <li>the effect disputes have on your children</li>
      <li>why your relationship with the other parent ended</li>
    </ul>
    <p></p>
    <p>Contact<a href="http://www.samaritans.org/how-we-can-help-you/contact-us"> the Samaritans</a> if you need to speak to someone urgently.</p>
    <div class="c-section-costs c-costs">
      <div class="c-section-cost c-cost">
        <h4 class="c-cost__heading">Average cost of a counsellor</h4>
        <p class="c-cost__amount"><strong>£35 - £60</strong></p>
        <p class="c-cost__small_print">Cost based on a 50-minute session. Fees may vary depending on your location and the experience of the counsellor. Some counsellors offer reductions if you’re unemployed or on a low income.</p>
      </div>
    </div>
    <p><a class="u-btn" href="http://www.counselling-directory.org.uk/adv-search.html">Find a counsellor</a></p>
  </section>
  <section id="parenting-courses">
    <h3>Parenting advice</h3>
    <p>The <a href="https://www.cafcass.gov.uk/grown-ups/separated-parents-information-programme-%28spip%29.aspx">Separated Parents Information Programme</a> helps you understand how to put your children first and manage disputes with the other parent.</p>
    <p>A judge may direct you to attend a SPIP if you take your case to court. You won't go to the same meeting as the other parent.</p>
    <p>There are similar programmes in <a href="http://cafcass.gov.wales/info_for_adults/working_together_for_children_course/?skip=1&amp;lang=en">Wales</a> and <a href="http://www.relationships-scotland.org.uk/family-support/parenting-apart-groups">Scotland</a>.</p>
    <div
      class="c-section-costs c-costs">
      <div class="c-section-cost c-cost">
        <h4 class="c-cost__heading">Cost of SPIP per person</h4>
        <p class="c-cost__amount"><strong>£150</strong></p>
        <p class="c-cost__small_print">It may be free to attend in some areas.</p>
      </div>
      </div>
      <p><a class="u-btn" href="https://www.cafcass.gov.uk/media/266763/drs_spip_dispute_resolution_services_directory_2016-17_1.pdf">Search for a SPIP</a></p>
  </section>
</section>
<section id="emotional-readiness">
  <h2>Emotional readiness</h2>
  <p>Emotional readiness is being able to put aside your own feelings and any negative thoughts about the other parent. If you’re emotionally ready you’ll have a better chance of making an agreement that’s in the best interests of your children.</p>
  <p>The Children and Family Court Advisory and Support Service (Cafcass) has more information on what you need to do to
    <a
      href="https://www.cafcass.gov.uk/grown-ups/listening-to-your-child-after-separation.aspx">become emotionally ready</a>.</p>
</section>
