<section id="involving-children">
  <h2>Involving your children</h2>
  <p>Children are more likely to adapt to new arrangements if you involve them in decisions. If they understand the situation, make sure to include them whenever possible.</p>
  <p>You should try and make your arrangements flexible so you can take into account the changing needs of your children as they grow older.</p>
  <p><a href="https://www.cafcass.gov.uk/grown-ups/listening-to-your-child-after-separation.aspx">Find out more about involving your children</a></p>
</section>
<section id="arranging-contact">
  <h2>Seeing your children</h2>
  <p>Your children will cope better with their situation if they have regular contact with you and the other parent, if it's safe to do so.</p>
  <p><a href="http://theparentconnection.org.uk/articles/what-children-think-about-contact">Research shows</a> most children think the parent who doesn't live with them is still an important part of their family.</p>
  <p>You can use a <a href="http://www.naccc.org.uk/">child contact centre</a> if you don’t live with your children and can’t find somewhere to see them. There are around 350 across England and Wales.</p>
  <blockquote>There are steps you can take if the other parent is <a href="http://www.advicenow.org.uk/guides/survival-guide-sorting-out-arrangements-your-children">preventing you from seeing your children</a>.</blockquote>
</section>
<section id="supporting">
  <h2>Supporting your children</h2>
  <p>Your children may need extra support if they're finding it hard to cope.</p>
  <section id="counselling">
    <h3>Counselling</h3>
    <p>Many schools have professionals they can talk to, but some might need further help from a <a href="http://www.counselling-directory.org.uk/childrelatedissues.html">counsellor</a>.
      The type of counselling varies depending on age and if they have any learning difficulties.</p>
  </section>
  <section id="online-support">
    <h3>Support online</h3>
    <p><a href="http://voicesinthemiddle.org.uk/">Voices in the Middle</a> is a website that has advice from young people in a similar situation. There's a guide to further help if your children want it.</p>
    <p><a href="https://www.sortingoutseparation.org.uk/children-parenting/childs-emotional-physical-well/">Where to get emotional support for your children</a></p>
  </section>
</section>
<section id="protecting">
  <h2>Protecting your children</h2>
  <p>In some situations it may not be in the child's best interests for parents to work out child arrangements. You'll probably need to go to court if there's a perceived risk to you or your children.</p>
  <p>You should <a href="https://www.gov.uk/report-child-abuse">report child abuse</a> or <a href="https://www.gov.uk/report-domestic-abuse">domestic abuse</a> if you're worried about the safety of you or your children.</p>
  <p>Read more about the <a href="https://www.nspcc.org.uk/preventing-abuse/child-abuse-and-neglect/">signs of child abuse</a> and <a href="http://www.refuge.org.uk/get-help-now/help-for-women/recognising-abuse/">domestic abuse</a>.</p>
</section>
