<section id="initial-meeting">
  <h2>Lawyer negotation process</h2>
  <p>You might use lawyer negotiation (also known as solicitor-led negotiation) if you no longer talk to the other parent.</p>
  <p>To begin the process both you and the other parent will need to hire your own lawyer.</p>
  <p>Your lawyer will set up a meeting to discuss the case with you. You’ll need to explain what your issues are and the outcome
    you want to achieve.</p>
  <p>After receiving instructions from you and the other parent, the lawyers will begin negotiations face-to-face. You won't
    have to deal directly with the other parent at any time.</p>
  <p>As in <a href="collaborative-law">collaborative law</a> both lawyers will try and keep the case from going to court.</p>
  <p>Your lawyers will draw up a document for court approval once they reach an agreement that you and the other parent are
    happy with.</p>
  <div class="c-section-costs c-costs">
    <div class="c-section-cost c-cost">
      <h4 class="c-cost__heading">Lawyer rates (per hour)</h4>
      <p class="c-cost__amount"><strong>£110 - £410</strong></p>
      <p class="c-cost__small_print">Fees may vary depending on your location and the experience of the lawyer. How long you need will depend on your situation. Some lawyers offer free 30-minute consultations or you can <a href="https://www.lawworks.org.uk/legal-advice-individuals">check if you can get free legal help</a>.</p>
    </div>
  </div>
  <p><a class="u-btn" href="http://solicitors.lawsociety.org.uk/">Find a lawyer</a></p>
</section>
