<section id="tools">
  <section id="parenting-plan">
    <h2>Which tools and services to use</h2>
    <p>The needs of your children must come first when negotiating arrangements. The following options are flexible (unless you make them into a consent order) so you can
      change the details as your children grow older.</p>
    <h3>Parenting plan</h3>
    <p>A parenting plan is a written or online plan that you use to prepare, discuss and agree child arrangements. It’s not
      legally binding and you can update the details as your children grow older and their needs change.</p>
    <p>Using a parent plan:</p>
    <ul>
      <li>helps you know what’s expected of you</li>
      <li>confirms your agreements (for example, where your children will live)</li>
      <li>works as a record for you to go back to</li>
    </ul>
    <p>You can choose to use an <a href="http://www.splittingup-putkidsfirst.org.uk/home">online parenting plan</a> or a plan
      you <a href="https://www.cafcass.gov.uk/grown-ups/parenting-plan.aspx">can print out</a>.</p>
  </section>
  <section id="miscellaneous-tools">
    <h3>Negotiating tools</h3>
    <p><a href="http://www.separatedfamilies.info/home/parenting-apart/negotiations/">The Negotiations Cycle tool</a> lets you
      break down your negotiations into 4 stages.</p>
    <p>Gingerbread has an <a href="https://gingerbread.org.uk/factsheet/4/Making-arrangements-for-your-children">arrangements factsheet</a>  that includes tips on making negotiating work.</p>
  </section>
  <section id="letter-templates">
    <h3>Letter templates</h3>
    <p>Child Law Advice has a useful <a href="http://childlawadvice.org.uk/wp-content/uploads/Residence-template-letter.pdf">letter template</a> if you prefer to negotiate by letter or email.</p>
  </section>
</section>
<section id="negotiation-unsuitable">
  <h2>When negotiating may not be suitable</h2>
  <section id="child-abuse">
    <h3>Child abuse or neglect</h3>
    <p>You shouldn't make arrangements with the other parent if you have reason to think they're abusing or neglecting your children.</p>
    <p><a href="https://www.gov.uk/report-child-abuse-to-local-council">Report child abuse</a> if you have any concerns and
      tell your children about <a href="https://www.childline.org.uk/">Childline</a> so they can report any abuse themselves.</p>
    <p>You can <a href="https://www.nspcc.org.uk/what-you-can-do/report-abuse/report-abuse-online/">report a concern about a child online</a>      to the National Society for the Prevention of Cruelty to Children (NSPCC).</p>
    <p><a href="https://www.nspcc.org.uk/preventing-abuse/child-abuse-and-neglect/">Find out more about child abuse and neglect</a></p>
  </section>
  <section id="domestic-violence">
    <h3>Domestic violence</h3>
    <p>Negotiating with the other parent is not likely to be suitable if they pose a threat to you or your children's safety.</p>
    <p><a href="https://www.gov.uk/report-domestic-abuse">Report domestic violence</a> if it's safe to do so and you think you're
      a victim.</p>
    <p>Find out more about <a href="http://www.refuge.org.uk/get-help-now/what-is-domestic-violence/">signs of domestic violence</a>      if you're unsure whether you're a victim.</p>
  </section>
</section>
