<section id="your-responsibilities">
  <p>You're also responsible for issues such as:</p>
  <ul>
    <li>where they go to school</li>
    <li>how to discipline them</li>
    <li>agreeing to their medical treatment</li>
    <li>choosing, registering or changing their names</li>
  </ul>
  <p>All mothers automatically have parental responsibility. A father usually does if he's either married to the child's mother or listed on the birth certificate.</p>
  <p>Find out more about <a href="https://www.gov.uk/parental-rights-responsibilities/who-has-parental-responsibility">who has parental responsibility</a>.</p>
  <p>You can <a href="https://www.gov.uk/parental-rights-responsibilities/apply-for-parental-responsibility">apply for parental responsibility</a> if you don't automatically have it.</p>
  <blockquote>You must provide financial support for your children even if you don't have parental responsibility.</blockquote>
  <p><a href="https://www.gov.uk/arranging-child-maintenance-yourself">Arrange child maintenance yourself</a></p>
</section>
<section id="making-decisions">
  <h2>Making decisions with the other parent</h2>
  <p>You don't always need to get the consent of the other parent when making a decision, even if they also have parental responsibility.</p>
  <p>If it's a major decision (for example one of you wants to move abroad with your children) both parents with responsibility must agree in writing.</p>
  <p>You can apply for a <a href="http://www.compactlaw.co.uk/free-legal-information/children/specific-issue-order.html">Specific Issue Order</a> or <a href="http://www.lawandparents.co.uk/prohibited-steps-orders-effect-parents.html">Prohibited Steps Order</a> if you can't agree. A judge will then make a decision which is in your children's best interests.</p>
</section>
