
<section id="lawyer-mediation">
  <h2>Other types of mediation</h2>
  <h3>Lawyer-assisted mediation</h3>
  <p>This is different to standard mediation because you and the other parent both hire lawyers who attend the sessions with
    you.</p>
  <p>If you have a lot of complex legal issues to resolve this may be a good option because mediators can’t offer legal advice.</p>
  <p>You'll need to consider the additional cost of a laywer as well as the mediation fee if you select this option.</p>
  <h3>Family mediation</h3>
  <p>Parents with children over 10 years old are encouraged to include them in the process so the mediator can hear their opinion.</p>
  <p>Talk with a mediator about whether it’s suitable to involve your children in your situation and ask your child if they’re happy to take part.</p>
  <p>You’ll also need to check if your mediator is qualified to offer this service before booking.</p>
  <h3>Shuttle mediation</h3>
  <p>You and the other parent can choose to sit in separate rooms and the mediator ‘shuttle’ between you. This is a good option if you’d prefer not to meet face-to-face or don’t feel safe to do so.</p>
  <p>You can also hire another mediator who co-mediates the sessions or lawyers to help the negotiation process.</p>
  <p>Shuttle mediation is usually more expensive than standard mediation because it’s a longer process. You’ll need to consider this additional cost, and of any lawyers or co-mediators, when booking.</p>
</section>
<section id="mediation-not-suitable">
  <h2>When mediation may not be suitable</h2>
  <section id="child-abuse">
    <h3>Child abuse or neglect</h3>
    <p>You shouldn't attend mediation with the other parent if you think they're abusing or neglecting your children.</p>
    <p><a href="https://www.gov.uk/report-child-abuse-to-local-council">Report child abuse</a> if you have any concerns and
      tell your children about <a href="https://www.childline.org.uk/">Childline</a> so they can report any abuse themselves.</p>
    <p>You can <a href="https://www.nspcc.org.uk/what-you-can-do/report-abuse/report-abuse-online/">report a concern about a child online</a> to the National Society for the Prevention of Cruelty to Children (NSPCC).</p>
    <p><a href="https://www.nspcc.org.uk/preventing-abuse/child-abuse-and-neglect/">Find out more about child abuse and neglect</a></p>
  </section>
  <section id="domestic-violence">
    <h3>Domestic violence</h3>
    <p>Mediation with the other parent is not likely to be suitable if you think they pose a threat to you or your children's safety.</p>
    <p><a href="https://www.gov.uk/report-domestic-abuse">Report domestic violence</a> if it's safe to do so and you think you're
      a victim.</p>
    <p>Find out more about <a href="http://www.refuge.org.uk/get-help-now/what-is-domestic-violence/">signs of domestic violence</a> if you're unsure whether you're a victim.</p>
  </section>
</section>
