<section id="miam">
  <h2>Find a mediator</h2>
  <p>Search for a mediator in your area or one that is an equal distance from you and the other parent.</p><p>Mediator rates can vary depending on their experience and your location. Check with the mediator before booking and don’t be afraid to shop around.</p>
  <p><a class="u-btn" href="http://www.familymediationcouncil.org.uk/find-local-mediator/">Find a local mediator</a></p>
  <h2>Go to a Mediation Information and Assessment Meeting (MIAM)</h2>
  <p>You must first meet with a mediator to check if mediation is right for you. This is called a <a href="https://www.familymediationcouncil.org.uk/family-mediation/assessment-meeting-miam">Mediation Information and Assessment Meeting</a> (MIAM).</p>
  <p>The mediator will explain:</p>
  <ul>
    <li>how mediation works</li>
    <li>the benefits</li>
    <li>whether it's right for you</li>
    <li>the likely costs</li>
    <li>if you're eligible for free mediation through <a href="https://checklegalaid.service.gov.uk/">legal aid</a></li>
  </ul>
  <p>MIAMs are voluntary except if you or the other parent wants to take your case <a href="/going-to-court">to court</a>. If you do, you’re both legally required to attend a MIAM unless <a href=\"https://www.familymediationcouncil.org.uk/family-mediation/assessment-meeting-miam/miams-exemptions/\">you’re exempt</a>.</p>
  <p>Only accredited mediators can carry out a MIAM. Check with the mediator before you book.</p>
  <div class="c-section-costs c-costs">
    <div class="c-section-cost c-cost">
      <h4 class="c-cost__heading">Average cost of MIAM per person</h4>
      <p class="c-cost__amount"><strong>£90</strong></p>
      <p class="c-cost__small_print">Estimated fees may vary depending on your location and the experience of the mediator. Some mediators offer reductions if you’re unemployed or on a low income. It may also be cheaper if you attend together.</p>
    </div>
  </div>
</section>
<section id="attending-mediation">
  <h2>Attend mediation sessions</h2>
  <p>Your mediator will book your first session if you and the other parent agree to try mediation. Mediation usually takes place over several sessions, each lasting about 90 minutes.</p>
  <p>You can choose to have mediation:</p>
  <ul>
    <li>in the same room</li>
    <li>in different rooms (shuttle mediation)</li>
    <li>on different days</li>
    <li>with your children (family mediation)</li>
    <li>with a lawyer (lawyer-assisted mediation)</li>
  </ul>
  <h2>Get agreement in writing</h2>
  <p>If you both reach an agreement the mediator will write down the details. This isn't legally binding but is flexible so you can update it if your situation changes.</p>
  <h3>Making your agreement legally binding</h3>
  <p>You can ask a lawyer to draft a consent order if you or the other parent prefer to make your agreement legally binding. This can be useful if the arrangements are long and complex.</p>
  <p>GOV.UK has more information about consent orders and <a href="https://www.gov.uk/looking-after-children-divorce/if-you-agree">making your agreement legally binding</a>.</p>
  <div
    class="c-section-costs c-costs">
    <div class="c-section-cost c-cost">
      <h4 class="c-cost__heading">Average cost of mediation per person</h4>
      <p class="c-cost__amount"><strong>£480</strong></p>
      <p class="c-cost__small_print">Estimated cost based on an average of <strong>3</strong> sessions. Fees may vary depending on your location and the experience of the mediator. Some mediators offer reductions if you’re unemployed or on a low income.</p>
    </div>
  </div>
  <p><a class="u-btn" href="http://www.familymediationcouncil.org.uk/find-local-mediator/">Find a local mediator</a></p>
</section>
<section id="lawyer-mediation">
  <h2>Other types of mediation</h2>
  <h3>Lawyer-assisted mediation</h3>
  <p>This is different to standard mediation because you and the other parent both hire lawyers who attend the sessions with
    you.</p>
  <p>If you have a lot of complex legal issues to resolve this may be a good option because mediators can’t offer legal advice.</p>
  <p>You'll need to consider the additional cost of a laywer as well as the mediation fee if you select this option.</p>
  <h3>Family mediation</h3>
  <p>Mediators encourage parents with children over the age of 10 to include them in the process so they can hear their opinions.</p>
  <p>Before you start, you and and the other parent will need to discuss with a mediator whether it’s suitable to involve your children</p>
  <h3>Shuttle mediation</h3>
  <p>You and the other parent can choose to sit in separate rooms and the mediator ‘shuttle’ between you. This is a good option if you’d prefer not to meet face-to-face or don’t feel safe to do so.</p>
  <p>You can also hire another mediator who co-mediates the sessions or lawyers to help the negotiation process.</p>
  <p>Shuttle mediation is usually more expensive than standard mediation because it’s a longer process. You’ll need to consider this additional cost, and of any lawyers or co-mediators, when booking.</p>
</section>
<section id="mediation-not-suitable">
  <h2>When mediation may not be suitable</h2>
  <section id="child-abuse">
    <h3>Child abuse or neglect</h3>
    <p>You shouldn't attend mediation with the other parent if you think they're abusing or neglecting your children.</p>
    <p><a href="https://www.gov.uk/report-child-abuse-to-local-council">Report child abuse</a> if you have any concerns and
      tell your children about <a href="https://www.childline.org.uk/">Childline</a> so they can report any abuse themselves.</p>
    <p>You can <a href="https://www.nspcc.org.uk/what-you-can-do/report-abuse/report-abuse-online/">report a concern about a child online</a> to the National Society for the Prevention of Cruelty to Children (NSPCC).</p>
    <p><a href="https://www.nspcc.org.uk/preventing-abuse/child-abuse-and-neglect/">Find out more about child abuse and neglect</a></p>
  </section>
  <section id="domestic-violence">
    <h3>Domestic violence</h3>
    <p>Mediation with the other parent is not likely to be suitable if you think they pose a threat to you or your children's safety.</p>
    <p><a href="https://www.gov.uk/report-domestic-abuse">Report domestic violence</a> if it's safe to do so and you think you're
      a victim.</p>
    <p>Find out more about <a href="http://www.refuge.org.uk/get-help-now/what-is-domestic-violence/">signs of domestic violence</a>      if you're unsure whether you're a victim.</p>
  </section>
</section>
