<section id="miam">
  <h2>Mediation Information and Assessment Meeting</h2>
  <p>You must first meet with a mediator to check if mediation is right for you. This is called a <a href="https://www.familymediationcouncil.org.uk/family-mediation/assessment-meeting-miam">Mediation Information and Assessment Meeting</a>    (MIAM).</p>
  <p>The mediator will explain:</p>
  <ul>
    <li>how mediation works</li>
    <li>the benefits</li>
    <li>the likely costs</li>
    <li>if you're eligible for free mediation through <a href="https://checklegalaid.service.gov.uk/">legal aid</a></li>
    <li>whether it's right for you</li>
  </ul>
  <p>Only accredited mediators can carry out a MIAM. Check with the mediator before you book.</p>
  <div class="c-section-costs c-costs">
    <div class="c-section-cost c-cost">
      <h4 class="c-cost__heading">Average cost of MIAM per person</h4>
      <p class="c-cost__amount"><strong>£90</strong></p>
      <p class="c-cost__small_print">Estimated fees may vary depending on your location and the experience of the mediator. Some mediators offer reductions
        if you’re unemployed or on a low income. It may be cheaper if you attend together.</p>
    </div>
  </div>
</section>
<section id="attending-mediation">
  <h2>Attending mediation sessions</h2>
  <p>Mediation is a voluntary process unless you or the other parent wants to <a href="/going-to-court">go to court</a>. In
    this situation you both must show you've considered mediation first.</p>
  <p>Mediation usually takes place over several sessions, each lasting about 90 minutes.</p>
  <p>You can choose to have mediation sessions:</p>
  <ul>
    <li>in the same room</li>
    <li>in different rooms (shuttle mediation)</li>
    <li>on different days</li>
    <li>with your children (family mediation)</li>
    <li>lawyer-assisted mediation</li>
  </ul>
  <p></p>
  <h2>What happens after mediation</h2>
  <p>If you both reach an agreement the mediator will write down the details. This isn't legally binding.</p>
  <h3>Making your agreement legally binding</h3>
  <p>You can ask for a lawyer to draft a consent order. This can be useful if the arrangements are long and complex.</p>
  <p>GOV.UK has more information about consent orders and <a href="https://www.gov.uk/looking-after-children-divorce/if-you-agree">making your agreement legally binding</a>.</p>
  <div
    class="c-section-costs c-costs">
    <div class="c-section-cost c-cost">
      <h4 class="c-cost__heading">Average cost of mediation per person</h4>
      <p class="c-cost__amount"><strong>£480</strong></p>
      <p class="c-cost__small_print">Estimated cost based on an average of <strong>3</strong> sessions. Fees may vary depending on your location and the
        experience of the mediator. Some mediators offer reductions if you’re unemployed or on a low income.</p>
    </div>
    </div>
    <p><a class="u-btn" href="http://www.familymediationcouncil.org.uk/find-local-mediator/">Find a local mediator</a></p>
</section>
<section id="lawyer-mediation">
  <h2>Lawyer-assisted mediation</h2>
  <p>This is different to standard mediation because you and the other parent both hire lawyers who attend the sessions with
    you.</p>
  <p>If you have a lot of complex legal issues to resolve this may be a good option because mediators can’t offer legal advice.</p>
  <div
    class="c-section-costs c-costs">
    <div class="c-section-cost c-cost">
      <p>You'll need to consider the additional cost of a laywer as well as the mediation fee if you select this option.</p>
    </div>
    </div>
</section>
<section id="mediation-not-suitable">
  <h2>When mediation may not be suitable</h2>
  <section id="child-abuse">
    <h3>Child abuse or neglect</h3>
    <p>You probably shouldn't attend mediation with the other parent if you think they're abusing or neglecting your children.</p>
    <p><a href="https://www.gov.uk/report-child-abuse-to-local-council">Report child abuse</a> if you have any concerns and
      tell your children about <a href="https://www.childline.org.uk/">Childline</a> so they can report any abuse themselves.</p>
    <p>You can <a href="https://www.nspcc.org.uk/what-you-can-do/report-abuse/report-abuse-online/">report a concern about a child online</a>      to the National Society for the Prevention of Cruelty to Children (NSPCC).</p>
    <p><a href="https://www.nspcc.org.uk/preventing-abuse/child-abuse-and-neglect/">Find out more about child abuse and neglect</a></p>
  </section>
  <section id="domestic-violence">
    <h3>Domestic violence</h3>
    <p>Mediation with the other parent may not be suitable if they pose a threat to your safety.</p>
    <p><a href="https://www.gov.uk/report-domestic-abuse">Report domestic violence</a> if it's safe to do so and you think you're
      a victim.</p>
    <p>Find out more about <a href="http://www.refuge.org.uk/get-help-now/what-is-domestic-violence/">signs of domestic violence</a>      if you're unsure whether you're a victim.</p>
  </section>
</section>