ff-title() {
  font-family: 'GDS-T-Bold', sans-serif;
  font-weight: bold;
}

ff-body() {
  font-family: 'GDS-T-Light', sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  +above(m) {
    font-size: $bodyCopy;
  }
  line-height: $bodyCopyLineHeight;
  margin-bottom: $bodyCopy;
}

ff-blockquote() {
  padding: $vspacing $hspacing*2 1px;
  border-left: $hspacing solid lighten($primary, 60%);
  margin: $componentVSpacing 0 2*$componentVSpacing;
  font-size: 1.6rem;
  +above(m) {
    font-size: $bodyCopy;
  }
}

real-list() {
  ff-body();
  margin-left: $hspacing*2;
  li {
    list-style: disc;
  }
}

button(bgc) {
  display: inline-block;
  color: $light;
  background-color: bgc;
  padding: $vspacing $hspacing*3;
  border: 0;
  font-size: $outerCore;
  cursor: pointer;
  text-decoration:none;
  border-radius: $brad;
  &:hover {
    color: $light;
    background-color: lighten(bgc, 20%);
    i {
      transform: rotate(20deg);
    }
  }
  &.disabled {
    cursor: auto;
    background: desaturate(bgc, 60%);
    opacity: .6;
  }
  i {
    transition: transform .5s ease-in-out;
    margin-right: $hspacing;
  }
}

// Must be used inside a :before or :after selector
icon(unicode) {
  content: unicode !important;
  font-family: "oocp-compare" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
