// Note: This file is only here to import components
.c {
  cf();
  margin-bottom: $componentVSpacing;
  @require "/components/gds-header";
  @require "/components/skiplink";
  @require "/components/phase-banner";
  @require "/components/headed-text";
  @require "/components/breadcrumbs";
  @require "/components/quick-links";
  @require "/components/article-list";
  @require "/components/details";
  @require "/components/proscons";
  @require "/components/usp-callout";
  @require "/components/body-copy";
  @require "/components/share";
  @require "/components/read-more-link";
  @require "/components/who-is-involved";
  @require "/components/resources";
}
