// Note: This file is only here to import components
.c {
  cf();
  margin-bottom: $componentVSpacing;
  @require "/components/headed-text";
  @require "/components/breadcrumbs";
  @require "/components/quick-links";
  @require "/components/article-list";
  @require "/components/details";
  @require "/components/proscons";
  @require "/components/usp-callout";
  @require "/components/process-chart";
  @require "/components/body-copy";
  @require "/components/cost";
  @require "/components/share";
  @require "/components/action-plan";
  @require "/components/read-more-link";
  @require "/components/who-is-involved";
  @require "/components/video-player";
  @require "/components/case-studies";
  @require "/components/resources";
}
