@charset "UTF-8";

@font-face {
  font-family:'GDS-T-Bold';
    src: url('/static/fonts/GDS-T-Bold.eot.eot');
	  src: url('/static/fonts/GDS-T-Bold.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/GDS-T-Bold.eot.woff2') format('woff2'),
		url('/static/fonts/GDS-T-Bold.eot.woff') format('woff'),
		url('/static/fonts/GDS-T-Bold.eot.svg#e Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
}

@font-face {
  font-family:'GDS-T-Light';
  src: url('/static/fonts/GDS-T-Light.eot.eot');
  src: url('/static/fonts/GDS-T-Light.eot?#iefix') format('embedded-opentype'),
	url('/static/fonts/GDS-T-Light.eot.woff2') format('woff2'),
	url('/static/fonts/GDS-T-Light.eot.woff') format('woff'),
	url('/static/fonts/GDS-T-Light.eot.svg#e Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

// Icon fonts (imported from Fontastic)

@font-face {
  font-family: "oocp-compare";
  src:url("/static/fonts/oocp-compare.eot");
  src:url("/static/fonts/oocp-compare.eot?#iefix") format("embedded-opentype"),
    url("/static/fonts/oocp-compare.woff") format("woff"),
    url("/static/fonts/oocp-compare.ttf") format("truetype"),
    url("/static/fonts/oocp-compare.svg#oocp-compare") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "oocp-compare" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "oocp-compare" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-judgecourt:before {
  content: "\63" !important;
}
.icon-mediator:before {
  content: "\6d" !important;
}
.icon-parents:before {
  content: "\70" !important;
}
.icon-lawyersolicitor:before {
  content: "\6c" !important;
}
.icon-cross:before {
  content: "\6e" !important;
}
.icon-tick:before {
  content: "\79" !important;
}

.icon-chevron-down:before {
  content: "\61" !important;
}
