/**
 * Setup
 *
 * Setting up the grid and primary styles
 *
 **/

body {
  font-family: 'GDS-T-Light', sans-serif;
  background-color: #ffffff;
  font-size: $bodyCopy;
  box-sizing: border-box;
}

h1, h2, h3 {
  ff-title();
}

h1 {
  line-height: 1.04167;
}

a {
  color: $links;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: darken($links, 10%);
  }
  &:focus {
    background-color: #ffbf47;
    outline: 3px solid #ffbf47;
  }
}

.skip--navigation {
  a {
    position: absolute;
    top:-80px;
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
    background: $primary;
    color: #fff;
    z-index: 999999;
    -webkit-transition: top 1s; /* For Safari 3.1 to 6.0 */
    transition: top 1s;

    &:focus {
      top: 0;
    }
  }
}

.no-js .warnings {
  position: static;
}
.warning {
  font-weight: bold;
  color: #000;
}

.for-print,
.js .js-disabled {
  display: none;
}

.wrapper {
  min-height:100vh;
}

.centralise {
  center(960px);
}

.full {
  padding: 1rem 2rem;
  +above(l) {
    padding:0;
  }
}

// Columns
.u-primary {
    .c-summary & {
      padding: 0;
      +above(l) {
        col(2/3, cycle: 2);
        padding: 0 5% 0 0;
        margin-right: 0;
        width: 68.66%;
      }
    }

    h1 {
      font-size: $mantle;
      margin-bottom: $vspacing;
      a {
        color: $primary;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      ff-body();
    }

    ul {
      ff-body();
      list-style: disc;
      margin-left: $hspacing*3;
      li {
        margin-bottom: $vspacing;
      }
    }
    .two-columns-uneven {
      cf();
      +above(m) {
        > div {
          span(3/4);
          padding-right: $hspacing*3;
          & + div {
            span(1/4);
            padding-right: 0;
          }
        }
      }

    }
}

.u-secondary {
  +above(l) {
    col(1/3, cycle: 2);
    // margin-top:$vspacing*13;
    // .details-page & {
    //   margin-top:$vspacing*7;
    // }
    &--no-top-margin {
      margin-top: 0;
    }
  }
  padding: $spacing;
  h2 {
    margin-bottom: $vspacing;
  }
}

.visuallyhidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// .TODO {
//   color: #00ff00;
// }

#footer {
  margin-top: 5rem;
  background-color: #dee0e2;
  border-top: 10px solid #005ea5;
  color: #454a4c;
  & a {
    color: #454a4c;
  }
  &:before {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
  }
}
.footer-wrapper {
  padding-top: 60px;
  padding-bottom: 30px;
}

#footer .footer-meta .footer-meta-inner {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}
@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner {
    width: 75%;
  }
}

.open-government-licence {
  position: relative;
  padding-left: 53px;
}

#footer .footer-meta .footer-meta-inner .open-government-licence .logo {
  margin-bottom: 1em;
  padding-top: 0;
}
@media (min-width: 641px) {
#footer .footer-meta .footer-meta-inner .open-government-licence .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 41px;
    height: 100%;
  }
}
#footer .footer-meta .footer-meta-inner .open-government-licence .logo a {
  display: block;
  width: 41px;
  height: 17px;
  overflow: hidden;
  text-indent: -999em;
  background: url(https://assets.publishing.service.gov.uk/static/images/open-government-licence-c1aedc8257961b938b4c7a21a2b0db3f2716dd9ef782cea73110dc69107c9042.png) 0 0 no-repeat;
}
@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner .open-government-licence p {
    font-size: 16px;
    line-height: 1.25;
  }
}



@media (min-width: 641px) {
  #footer .footer-meta .copyright {
    display: inline-block;
    text-align: inherit;
    width: 24.5%;
    padding-top: 15px;
    margin-top: 0;
  }
}
@media (min-width: 641px) {
  #footer .footer-meta .copyright {
    font-size: 16px;
    line-height: 1.25;
  }
}

#footer .footer-meta .copyright a {
  display: block;
  background-image: url(https://assets.publishing.service.gov.uk/static/images/govuk-crest-bb9e22aff7881b895c2ceb41d9340804451c474b883f09fe1b4026e76456f44b.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  text-align: center;
  text-decoration: none;
  padding: 115px 0 0 0;
}
@media (min-width: 641px) {
  #footer .footer-meta .copyright a {
    background-position: 100% 0%;
  }
}
@media (min-width: 641px) {
  #footer .footer-meta .copyright a {
    text-align: right;
  }
}



nav.interlinks {
  ff-body();
  display:table;
  overflow:hidden;
  width: 100%;
  clear: both;
  border-top: 1px solid #000000;
}
nav.interlinks h2 {
  line-height: 1.2;
  font-size: 2.4rem;
  +above(m) {
    font-size: 3.6rem;
  }
  margin: 2rem 0 1rem;
}
nav.interlinks .overview {
  border-top: solid 1px #6f777b;
  position: relative;
  padding-left: 4rem;
  margin: 2rem 0 0;
  padding-top: 2rem;
}
nav.interlinks .overview a:before {
  background-image: url(https://assets.publishing.service.gov.uk/static/arrow-sprite-0fa429eadf557102b8e1ca6bf7220f7e61812efbc4f52ed40e5aedd11474635f.png);
  margin: 0;
  display: block;
  position: absolute;
  width: 50px;
  height: 56px;
  left: -2rem;
  top: 1.75rem;
  content: " ";
}
nav.interlinks .overview h3 {
  font-size: 1.9rem;
  +above(m) {
    font-size: 2.4rem;
  }
}

article .c-body-copy > p > a.u-btn:only-child {
  margin-bottom: 2rem;
}