&-compare,
&-prepare {
    position: relative;
    padding: $vspacing*2 0;
    +above(m) {
      padding: $vspacing*1.5 0 0 0;
    }
    .c-headed-text {
      padding-bottom: 0;
      margin-bottom: 0;
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  +above(m) {
    .c-card-details {
      float: left;
      width: 65%;
    }
  }
  > aside {
    margin: 2rem 0 0;
    height: 100%;
    padding: $vspacing*2 0 0;
    +above(m) {
      float: right;
      padding: $vspacing*0 0 0 0;
      width: 33%;
      margin: 0;
    }

  }
}


// &-compare {
//     +above(m) {
//       min-height: 48rem;
//       &[data-slug=negotiating] {
//         min-height: 45rem;
//       }
//     }
// }