&-compare,
&-prepare {
    position: relative;
    padding: $vspacing*2 0;
    +above(m) {
      padding: $vspacing*1.5 0;
    }
    .c-headed-text {
      padding-bottom: 0;
      margin-bottom: 0;
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  +above(m) {
    .c-card-details {
      float: left;
      width: 60%;
    }
  }
  > aside {
    margin: 2rem 0 0;
    height: 100%;
    padding: $vspacing*2 0 0;
    +above(m) {
      float: right;
      padding: $vspacing*0 0 0 0;
      width: 38%;
      margin: 0;
    }

  }
}
