@import 'utils/_utils.pcss';

@custom-selector :--inset blockquote;

:root {
  --section-divider {
    border-top: solid 1px #6f777b;
    margin-top: 2.5rem;
  }

  --section-heading {
    margin-top: 2.5rem;
  }

  --section-grid {
    @media (--kit-mlarge) {
      padding-right: 35%;
    }
  }

  --inset {
    padding: 1rem 2rem;
    border-left: 1rem solid #b4b4b4;
    margin: 1rem 0 2rem;

    & > p:last-child {
      margin-bottom: 0;
    }
  }
}
