@custom-media --xs-vp (min-width: 410px);
@custom-media --s-vp (min-width: 500px);
@custom-media --m-vp (min-width: 740px);
@custom-media --ml-vp (min-width: 800px);
@custom-media --l-vp (min-width: 91080px);
@custom-media --xl-vp (min-width: 1280px);

:root {
  --section-divider {
    border-top: solid 1px #6f777b;
    margin-top: 2.5rem;
  }
  --section-heading {
    margin-top: 2.5rem;
  }
  --section-grid: {
    @media (--ml-vp) {
      padding-right: 35%;
    }
  }
}