{% extends "templates/app/app.html" %}

{% block stylesheet %}
{{ super() }}
<link href="{{ asset_path }}stylesheets/reaching.css" rel="stylesheet">
{% endblock %}

{% block breadcrumbs_content %}
{{ govuk.breadcrumbs(
    items = [
      {
        "title": "Home",
        "url": "/"
      },
      {
        "title": getFormattedProp(route.id, 'heading')
      }
    ]) }}
{% endblock %}

{% block grid_content %}
<div class="gv-o-grid-row">
<div class="gv-o-grid-item gv-u-two-thirds">
  {{ macros.page_header(route.id, heading_size='xxlarge') }}

  {% if route.usp %}
  <div class="c-usp-callout gv-s-prose">
  <h4>{{ macros.string('string:usp-heading') }}</h4>
  <p>{{ route.usp | safe }}</p>
  </div>
  {% endif %}
</div>

<div class="gv-o-grid-item gv-u-one-third">
  {{ macros.proscons(route.id, modifier='header') }}
</div>
</div>

  <div class="xgv-o-grid-row">
  {{ macros.group(elements=route.elements) }}
  </div>

{% set collection = route.template + '-collection' %}
<nav class="c-interlinks">
<h2 class="c-interlinks__heading gv-u-heading-xlarge">{{ getFormattedProp(collection, 'title_nav') }}</h2>
<ul class="c-interlinks__list">
{% for r in getElementProp(collection, 'items') %}
{% if r != route.id %}
  <li><a href="{{ getRouteUrl(r) }}" data-link-type="site-nav">{{ getFormattedProp(r, 'heading') }}</a></li>
  {% endif %}
{% endfor %}
</ul>
<div class="c-interlinks__overview">
<h3 class="c-interlinks__overview__heading gv-u-heading-large">Overview</h3>
<p><a href="{{ getRouteUrl('route:summary') }}" class="c-interlinks__overview__link" data-link-type="site-nav">View all child arrangements options</a></p>
</div>
</nav>
{% endblock %}
