<% include layouts/header.ejs %>
<div class="full">
  <div class="centralise">
    <div class="u-primary">
      <% include components/headed-text.ejs %>
    </div>
    <div class="u-secondary">
      <% include components/quick-links.ejs %>
    </div>
  </div>
</div>
<div class="full">
  <section class="c c-article-list">
    <div class="centralise">
      <h2>Preparing yourself</h2>
      <ul>
        <% pages.forEach(function(page, i) { %>
          <li class="u-card template-<%= page.template %>">
            <% if (page.template === 'compare') { %>
              <% include templates/compare.ejs %>
            <% } %>
          </li>
        <%}) %>
      </ul>
    </div>
  </section>
</div>
<% include layouts/footer.ejs %>
