<% include layouts/header.ejs %>
<div class="full c-summary">
  <div class="centralise">
    <div class="u-primary">
      <% include components/headed-text.ejs %>
    </div>
    <div class="u-secondary c-quick-links">
      <% include components/quick-links.ejs %>
    </div>
  </div>
</div>
<div class="full">
  <section class="c c-article-list js-article-list">
    <div class="centralise">
      <div id="cards-preparing" class="u-cards">
        <h2>Preparing to make arrangements</h2>
        <% pages.forEach((page, i) => { %>
          <% if (page.template === 'prepare') { %>
            <article class="u-card template-prepare" id="card-<%= page.slug %>" data-slug="<%= page.slug %>">
              <% include templates/prepare.ejs %>
            </article>
          <% } %>
        <% }) %>
      </div>
      <div id="cards-reaching" class="u-cards">
        <h2>Reaching an agreement</h2>
        <% pages.forEach((page, i) => { %>
          <% if (page.template === 'compare') { %>
            <article class="u-card template-compare" id="card-<%= page.slug %>" data-slug="<%= page.slug %>">
              <% include templates/compare.ejs %>
            </article>
          <% } %>
        <% }) %>
      </div>
    </div>
  </section>
</div>
<% include layouts/footer.ejs %>
