@import 'utils/_app.pcss';

.moj-Step {
  @apply --section-grid;
  @apply --section-divider;

  position: relative;
  padding-top: 2.5rem;
}

@media (--kit-medium) {
  .moj-Step > * {
    padding-left: 9rem;
  }
}

.moj-Step__count {
  color: #6f777b;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  background-repeat: no-repeat;
  padding: 0.6rem 3.5rem;
  background-size: 3rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;

  @media (--kit-medium) {
    font-size: 1.9rem;
    position: absolute;
    padding: 0;
    margin-top: 0;
    top: 2.75rem;
    width: 10rem;
    height: 8rem;
    background-position: 0 100%;
    background-size: 5rem;
  }
}

.moj-Step__heading {
  margin-top: 0;
  font-size: 2.4rem; /* GDS FONT OVERRIDE */
}

.moj-Step__content h3 {
  @apply --gv-u-heading-small;
}

.moj-Step__count--going-to-court-step-1 {
  background-image: url(/public/images/steps/step-find-professional.svg);
}

.moj-Step__count--going-to-court-step-2 {
  background-image: url(/public/images/steps/step-meeting-3-way.svg);
}

.moj-Step__count--going-to-court-step-3 {
  background-image: url(/public/images/steps/step-apply-order.svg);
}

.moj-Step__count--going-to-court-step-4 {
  background-image: url(/public/images/steps/step-attend-court.svg);
}

.moj-Step__count--professional-mediation-step-1 {
  background-image: url(/public/images/steps/step-find-professional.svg);
}

.moj-Step__count--professional-mediation-step-2 {
  background-image: url(/public/images/steps/step-meeting-3-way.svg);
}

.moj-Step__count--professional-mediation-step-3 {
  background-image: url(/public/images/steps/step-meeting-3-way.svg);
}

.moj-Step__count--professional-mediation-step-4 {
  background-image: url(/public/images/steps/step-agreement.svg);
}

.moj-Step__count--collaborative-law-step-1 {
  background-image: url(/public/images/steps/step-find-professional.svg);
}

.moj-Step__count--collaborative-law-step-2 {
  background-image: url(/public/images/steps/step-meeting-2-way.svg);
}

.moj-Step__count--collaborative-law-step-3 {
  background-image: url(/public/images/steps/step-meeting-4-way.svg);
}

.moj-Step__count--collaborative-law-step-4 {
  background-image: url(/public/images/steps/step-agreement.svg);
}
