{% from '../Costs/Costs.njk' import Costs with context %}
{% from '../CallToAction/CallToAction.njk' import CallToAction with context %}

{% macro Step(name) %}
{% set stepCount = counter('step') + 1 %}
<div id="step-{{ name }}" class="Step Step-{{ stepCount }} Step--{{ name }}" data-block-name="{{name}}">
<p class="Step__count Step__count--{{ name }}">Step {{ stepCount }}</p>
<h2 class="Step__heading {{ govukClassname('heading-medium') }}">{{ getFormattedProp(name, ['heading_short', 'heading']) | safe }}</h2>
<div class="Step__content {{ govukClassname('govuk-govspeak') }}">
{{ getFormattedBody(name, 'body') | safe }}
</div>
{{ Costs(name, classSuffix='step') }}
{{ CallToAction(name, modifier='step') }}
</div>
{% endmacro %}