{% from '../costs/costs.njk' import costs with context %}
{% from '../CallToAction/CallToAction.njk' import CallToAction with context %}

{% macro step(name) %}
{% set stepCount = counter('step') + 1 %}
<div id="step-{{ name }}" class="c-step c-step-{{ stepCount }} c-step--{{ name }}" data-element-block="{{name}}">
<p class="c-step__count c-step__count--{{ name }}">Step {{ stepCount }}</p>
<h2 class="c-step__heading gv-u-heading-medium">{{ getFormattedProp(name, ['heading_short', 'heading']) | safe }}</h2>
<div class="c-step__content gv-s-prose">
{{ getFormattedBody(name, 'body') | safe }}
</div>
{{ costs(name, classSuffix='step') }}
{{ CallToAction(name, modifier='step') }}
</div>
{% endmacro %}