@import 'SummaryArea--all.pcss';

.SummaryArea__read-more {
  display: none;
}

.SummaryArea__Involvement__heading,
.SummaryArea_USP__heading,
.area__USP__heading {
  @apply --non-standard-heading;
}

.SummaryArea__Involvement__list,
.SummaryArea_USP__heading + p,
.area__USP__heading + p {
  @apply --non-standard-post-heading;
}
