@import 'utils/_app.pcss';

.moj-Section > * {
  @apply --section-grid;
}

.moj-Section {
  position: relative;

  @media (--kit-mlarge) {
    padding-right: 0;
  }
}

@media (--kit-mlarge) {
  .moj-Section--2:first-child .moj-Section__heading--2 {
    margin-top: 2rem;
  }
}

.moj-Section--3:not(:last-child) .CallToAction {
  padding-bottom: 1rem;
}

.moj-Step + .moj-Section {
  @apply --section-divider;
}

.moj-Step + .moj-Section .moj-Section__heading--2 {
  margin-top: 3.5rem;
}
