@import 'utils/_app.pcss';
@import 'SectionArea--all.pcss';

.moj-Section {
  position: relative;

  @media (--kit-mlarge) {
    padding-right: 0;
  }
}

@media (--kit-mlarge) {
  .moj-Section--2:first-child .moj-Section__heading--2 {
    margin-top: 2rem;
  }
}

.moj-Section--3:not(:last-child) .CallToAction {
  padding-bottom: 1rem;
}

.Step + .moj-Section .moj-Section__heading--2 {
  margin-top: 3.5rem;
}
