@import 'utils/_app.pcss';

.Cost__heading {
  @apply --non-standard-heading;
}

.Cost__amount {
  @apply --non-standard-post-heading;

  font-size: 14pt;
}

.Cost__small_print {
  font-style: italic;
  margin-top: -10pt;
}
