{% macro Costs(name, classSuffix='', depth=1) %}
{% set cost = getFormattedProp(name, 'cost') %}
{% if cost %}
  <div class="Costs">
    <div class="Cost{% if classSuffix %} Cost--{{ classSuffix }}{% endif %}">
    <h{{ depth }} class="Cost__heading {{ govukClassname('heading-small') }}">{{ cost }}</h{{ depth }}>
    <p class="Cost__amount {{ govukClassname('heading-large') }}"><strong>{{ getFormattedProp(name, 'cost_amount') }}</strong></p>
    <div class="Cost__small_print">{{ getFormattedBody(name, 'cost_description') | safe }}</div>
    </div>
  </div>
{% endif %}
{% endmacro %}