{% macro costs(name, classSuffix='') %}
{% set cost = getFormattedProp(name, 'cost') %}
{% if cost %}
  <div class="c-costs">
    <div class="c-cost{% if classSuffix %} c-cost--{{ classSuffix }}{% endif %}">
    <h4 class="c-cost__heading gv-u-heading-small">{{ cost }}</h4>
    <p class="c-cost__amount gv-u-heading-xlarge"><strong>{{ getFormattedProp(name, 'cost_amount') }}</strong></p>
    <div class="c-cost__small_print">{{ getFormattedBody(name, 'cost_description') | safe }}</div>
    </div>
  </div>
{% endif %}
{% endmacro %}