@media print {
  .ProsCons__heading {
    font-size: 1.6rem;
  }

  /*  .ProsCons {
    border: none;
    padding: 0;
  }

  .xProsCons__list {
    padding-left: 0;
  }

  .ProsCons__item {
    padding-left: 0;
    background: transparent;
  } */
}
