{% extends "templates/app/app.html" %}

{% block stylesheet %}
{{ super() }}
<link href="{{ asset_path }}stylesheets/about.css" rel="stylesheet">
{% endblock %}

{% block grid_content %}

  <div><div class="gv-o-grid-row">
  <div class="gv-o-grid-item gv-u-two-thirds">
  <h1 class="c-summary__heading gv-u-heading-xxlarge">{{ getFormattedProp(route.id, 'heading') }}</h1>
  <p class="c-summary__lede">{{ getFormattedProp(route.id, 'lede') }}</p>
  <p class="c-summary__lede">{{ getFormattedProp(route.id, 'lede_additional') | safe }}</p>
  <div class="gv-s-prose">
  {#{{ route.elements }}#}
  {{ macros.group(elements=route.elements) }}
  </div>
  </div>
  </div>

{% endblock %}