{% extends "templates/app/app.html" %}

{% block stylesheet %}
{{ super() }}
<link href="{{ asset_path }}stylesheets/area.css" media="screen" rel="stylesheet">
{% endblock %}

{% block grid_content %}
<div class="{{ govukClassname('grid-row') }}">
  <div class="{{ govukClassname('column-two-thirds') }}">
    {{ Block.PageHeader(route.id, heading_size='xlarge') }}

    {% if route.information %}
    <div role="note" aria-label="Information" class="area__information {{govukClassname('inset')}}">
      {{ getFormattedBody(route.id, 'information') | safe }}
    </div>
    {% endif %}

    {% if route.usp %}
    <div class="area__USP {{ govukClassname('govuk-govspeak') }}">
    <h2 class="area__USP__heading"><span aria-hidden="true">{{ Block.String('Area__USP__heading') }}</span><span class="visually-hidden">{{ Block.String('Area__USP__heading--a11y', { area: getFormattedProp(route.id, 'heading')}) }}</span></h2>
    <p>{{ route.usp | safe }}</p>
    </div>
    {% endif %}

    {% if route.id == 'route:professional_mediation' %}
    <div role="note" aria-label="Information" class="area__information {{govukClassname('inset')}}">
      <p><strong>If you’ve been invited to mediation, <a href="{{ getRouteUrl('route:professional_mediation_other_parent') }}">find out what it means for you</a>.</strong></p>
    </div>
    {% endif %}
  </div>

  <div class="{{ govukClassname('column-one-third') }}">
    {% if route.shareable %}
    {{ Block.ShareLink(route.id) }}
    {% endif %}
    {{ Block.ProsCons(route.id, modifier='header', level=2) }}
  </div>
</div>

{{ Block.Group(blocks=route.blocks) }}

{% set collection = route.template + '-collection' %}
<nav class="AreaLinks" data-block-name="{{ collection }}">
<h2 class="AreaLinks__heading {{ govukClassname('heading-large') }}">{{ getFormattedProp(collection, 'title_nav') }}</h2>
<ul class="AreaLinks__list">
{% for r in getBlockProp(collection, 'items') %}
{% if r != route.id %}
  <li><a href="{{ getRouteUrl(r) }}" data-link-type="site-nav">{{ getFormattedProp(r, 'heading') }}</a></li>
  {% endif %}
{% endfor %}
</ul>
<div class="AreaLinks__overview">
<h3 class="AreaLinks__overview__heading {{ govukClassname('gv-u-heading-large') }}">{{ Block.String('AreaLinks__overview__heading') }}</h3>
<p><a href="{{ getRouteUrl('route:summary') }}" class="AreaLinks__overview__link" data-link-type="site-nav">{{ Block.String('AreaLinks__overview__link') }}</a></p>
</div>
</nav>
{% endblock %}
