{% extends "templates/app/app.html" %}

{% block stylesheet %}
{{ super() }}
<link href="{{ asset_path }}stylesheets/area.css" rel="stylesheet">
{% endblock %}

{% block grid_content %}
<div class="gv-o-grid-row">
<div class="gv-o-grid-item gv-u-two-thirds">
  {{ macros.PageHeader(route.id, heading_size='xxlarge') }}

  {% if route.usp %}
  <div class="c-usp-callout gv-s-prose">
  <h4>{{ macros.String('string:usp-heading') }}</h4>
  <p>{{ route.usp | safe }}</p>
  </div>
  {% endif %}
</div>

<div class="gv-o-grid-item gv-u-one-third">
  {{ macros.ProsCons(route.id, modifier='header') }}
</div>
</div>

  <div class="xgv-o-grid-row">
  {{ macros.Group(elements=route.elements) }}
  </div>

{% set collection = route.template + '-collection' %}
<nav class="AreaLinks" data-element-block="{{ collection }}">
<h2 class="AreaLinks__heading gv-u-heading-xlarge">{{ getFormattedProp(collection, 'title_nav') }}</h2>
<ul class="AreaLinks__list">
{% for r in getElementProp(collection, 'items') %}
{% if r != route.id %}
  <li><a href="{{ getRouteUrl(r) }}" data-link-type="site-nav">{{ getFormattedProp(r, 'heading') }}</a></li>
  {% endif %}
{% endfor %}
</ul>
<div class="AreaLinks__overview">
<h3 class="AreaLinks__overview__heading gv-u-heading-large">{{ macros.String('string:Interlinks__Overview__heading') }}</h3>
<p><a href="{{ getRouteUrl('route:summary') }}" class="AreaLinks__overview__link" data-link-type="site-nav">{{ macros.String('string:Interlinks__Overview__link') }}</a></p>
</div>
</nav>
{% endblock %}
