@import 'AreaLinks/AreaLinks.pcss';
@import 'section/section.pcss';
@import 'video_section/video_section.pcss';
@import 'resources_section/resources_section.pcss';
@import 'step/step.pcss';

h1.heading-xxlarge {
  margin-bottom: 3rem;
}

blockquote {
  padding: 1rem 2rem 1px;
  border-left: 1rem solid #b4b4b4;
  margin: 1rem 0 2rem;
}

blockquote p {
  margin: 0;
}
.gv-s-prose blockquote p {
  margin: 0;
}