@import 'utils/_app.pcss';
@import 'AreaLinks/AreaLinks.pcss';
@import 'SectionArea/SectionArea.pcss';
@import 'SectionVideo/SectionVideo.pcss';
@import 'SectionResources/SectionResources.pcss';
@import 'Step/Step.pcss';

h1:--heading-xlarge {
  margin-bottom: 3rem;
}

:--inset {
  @apply --inset;
}

:--govuk-govspeak :--inset p {
  margin: 0;
}

.gv-s-prose .area__USP__heading {
  @apply --gv-u-heading-small;
}
