@import 'AreaLinks/AreaLinks.pcss';
@import 'SectionArea/SectionArea.pcss';
@import 'SectionVideo/SectionVideo.pcss';
@import 'SectionResources/SectionResources.pcss';
@import 'Step/Step.pcss';

h1.heading-xxlarge {
  margin-bottom: 3rem;
}

blockquote {
  padding: 1rem 2rem;
  border-left: 1rem solid #b4b4b4;
  margin: 1rem 0 2rem;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

.gv-s-prose blockquote p {
  margin: 0;
}
