@import 'FeedbackBanner/FeedbackBanner--print.pcss';
@import 'PhaseBanner/PhaseBanner--print.pcss';
@import 'SectionVideo/SectionVideo--print.pcss';
@import 'AreaLinks/AreaLinks--print.pcss';
@import 'ProsCons/ProsCons--print.pcss';

a {
  text-decoration: none !important;
}

/*
@import 'Costs/Costs.pcss';
@import 'CookieMessage/CookieMessage.pcss'; */
