@import 'FeedbackBanner/FeedbackBanner--print.pcss';
@import 'PhaseBanner/PhaseBanner--print.pcss';
@import 'AreaLinks/AreaLinks--print.pcss';
@import 'SectionArea/SectionArea--print.pcss';
@import 'SectionResources/SectionResources--print.pcss';
@import 'SectionVideo/SectionVideo--print.pcss';
@import 'Step/Step--print.pcss';
@import 'SummaryArea/SummaryArea--print.pcss';
@import 'SummaryAreas/SummaryAreas--print.pcss';

#global-header .header-proposition {
  display: block;
}
