@import 'utils/_mediaqueries.pcss';
@import 'FeedbackBanner/FeedbackBanner.pcss';
@import 'proscons/proscons.pcss';
@import 'costs/costs.pcss';

#global-header .header-proposition {
  padding-top: 0.5rem;
}

main {
  @media (--ml-vp) {
    padding-bottom: 3rem;
  }
}


#footer {
  border-top: 10px solid #005ea5;
}
