{% extends "templates/app-base/app-base.html" %}
{% import "components/Utils/Utils.njk" as Utils with context %}

{{ Utils.registerBlocks([
  "components/CallToAction/CallToAction.njk",
  "components/Costs/Costs.njk",
  "components/ProsCons/ProsCons.njk",
  "components/SectionArea/SectionArea.njk",
  "components/SectionResources/SectionResources.njk",
  "components/SectionVideo/SectionVideo.njk",
  "components/Step/Step.njk"
]) }}

{% block body_end %}
{{ super() }}
{% if not req.disqualified %}
  <script>
    jQuery('a[data-link-type="feedback"], [data-link-type="footer-feedback"] a, a[data-link-type="feedback-banner"]').each(function(){
    var addition = '?uuid=' + analytics.uuid
    addition = addParam(addition, 'referrer')
    addition = addParam(addition, 'campaignName')

    jQuery.each(visited, function(i, page) {
      addition += '&' + page.replace(/-/g, '_') + '=T'
    })
  // TODO: make this a match and recheck
  {% if ENV != 'prod' %}
    this.href = this.href.replace(/72MRZH6/, '7MF5F5W')
  {% endif %}
    this.href += addition
  })
  </script>

{% endif %}
{% endblock %}