{% extends "templates/app-base/app-base.html" %}
{% import "components/Utils/Utils.njk" as Utils with context %}
{% from 'components/FeedbackSimplified/FeedbackSimplified.njk' import FeedbackSimplified with context %}

{{ Utils.registerBlocks([
  "components/RevealingContent/RevealingContent.njk",
  "components/CallToAction/CallToAction.njk",
  "components/Costs/Costs.njk",
  "components/ProsCons/ProsCons.njk",
  "components/SectionArea/SectionArea.njk",
  "components/SectionResources/SectionResources.njk",
  "components/SectionVideo/SectionVideo.njk",
  "components/Step/Step.njk",
  "components/Step/FmcStep.njk",
  "components/ShareLink/ShareLink.njk"
]) }}

{% block page_title %}{{ getFormattedProp(route.id, 'heading') }}{% if route.id != 'route:index' %} - {{ getFormattedProp('route:summary', 'heading') }}{% endif %}{% endblock %}

{% block content %}
{{ super() }}
{{ FeedbackSimplified() }}
{% endblock %}

{% block body_end %}
{{ super() }}
{% if not req.disqualified %}
  <script>
  // TODO: move back to FeedbackSimplified.js
  if (window.jQuery) {
    var helpfulEvent = function helpfulEvent(eventLabel, eventAction) {
      var eventValue = eventLabel === 'yes' ? 1 : -1;
      eventAction = eventAction || document.location.pathname;
      return {
        eventCategory: 'Page Helpfulness',
        eventAction: eventAction,
        eventLabel: eventLabel,
        eventValue: eventValue
      };
    };

    jQuery('.FeedbackSimplified a').attr('data-link-type', 'feedback-simplified');
    var $feedbackDefault = jQuery('.FeedbackSimplified__default');
    var $feedbackQuestion = jQuery('.FeedbackSimplified__question');
    var $feedbackFollowup = jQuery('.FeedbackSimplified__followup');

    var toggleFeedbackAriaState = function toggleFeedbackAriaState($show, $hide) {
      $show.attr('aria-hidden', false);
      $hide.attr('aria-hidden', true);
    };
    toggleFeedbackAriaState($feedbackQuestion, $feedbackDefault);

    jQuery('.FeedbackSimplified__response').on('click', function () {
      var $response = jQuery(this);
      $response.closest('.FeedbackSimplified').addClass('FeedbackSimplified--answered');

      toggleFeedbackAriaState($feedbackFollowup, $feedbackQuestion);
      var helpfulPayload = helpfulEvent($response.data('response'));
      ga('send', 'event', helpfulPayload);
    });
  }
  </script>
  <script>
    jQuery('a[data-link-type="feedback"], [data-link-type="footer-feedback"] a, a[data-link-type="feedback-banner"], a[data-link-type="feedback-simplified"]').each(function(){
    var addition = '?uuid=' + analytics.uuid
    addition = addParam(addition, 'referrer')
    addition = addParam(addition, 'campaignName')

    jQuery.each(visited, function(i, page) {
      addition += '&' + page.replace(/-/g, '_') + '=T'
    })
  // TODO: make this a match and recheck
  {% if ENV != 'prod' %}
    this.href = this.href.replace(/72MRZH6/, '7MF5F5W')
  {% endif %}
    this.href += addition
  })
  </script>

  <script src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
  <script>
    {% if app.production -%}
    {% set landbot_UID_for_env = 'H-94848-JHM265K4DMB32UB7' -%}
    {% else -%}
    {% set landbot_UID_for_env = 'H-86701-NSU1LIPWIKTXXTXX' -%}
    {% endif -%}

    var Landbot_UID = '{{ env.LANDBOT_UID }}' || '{{ landbot_UID_for_env }}';
    var myLandbotLivechat = new LandbotLivechat({
      index: 'https://landbot.io/u/' + Landbot_UID + '/index.html', accent: '#005ea5'
    });

    if (!/Mobi|Android/i.test(navigator.userAgent)) {
      setTimeout(function(){ myLandbotLivechat.open(); }, 3000);
    }
  </script>
{% endif %}

{% if env.GA_TRACKING_ID %}
<script>ga('require', 'outboundFormTracker');</script>
{% endif %}
{% endblock %}