{% from '../costs/costs.njk' import costs with context %}
{% from '../CallToAction/CallToAction.njk' import CallToAction with context %}
{% import "components.njk" as govuk with context %}

{% macro section(name, className='', content='', depth=2) %}
{% set gv_depth = {
  '2': 'gv-u-heading-xlarge',
  '3': 'gv-u-heading-small',
  '4': 'gv-u-heading-medium'
} %}
<section id="{{ name }}" class="o-section o-section--{{ depth }} {{ className }}" data-element-block="{{name}}">
<h{{depth}} class="o-section__heading o-section__heading--{{ depth }} {{ gv_depth[depth] }}{% if className %} {{ className }}__heading{% endif %}">{{ getFormattedProp(name, 'heading') | safe }}</h{{depth}}>
{% if content %}
{{ content }}
{% endif %}
{% if caller %}
{{ caller() }}
{% endif %}
{% set body = getFormattedBody(name, 'body') %}
{% if body %}
<div class="section-content gv-s-prose">
{{ body | safe }}
</div>
{% endif %}
{% if depth < 5 %}
{% set subsections = getElementProp(name, 'elements') %}
{% if subsections.length %}
{% for subsection in subsections %}
{% set subsections = [] %}
{{ macros.control(subsection, depth=depth+1) }}
{% endfor %}
{% endif %}
{% endif %}
{{ costs(name) }}
{{ CallToAction(name, modifier='section') }}
</section>
{% endmacro %}