{% extends "templates/app/app.html" %}
{% from 'components/SummaryAreas/SummaryAreas.njk' import SummaryAreas with context %}

{% block zstylesheet %}
{{ super() }}
<link href="{{ asset_path }}stylesheets/summary.css" rel="stylesheet">
{% endblock %}

{% block page_title %}{{ getFormattedProp(route.id, 'heading') }}{% endblock %}

{% block grid_content %}

  <div><div class="gv-o-grid-row">
  <div class="gv-o-grid-item gv-u-two-thirds">
  <h1 class="c-summary__heading gv-u-heading-xxlarge">{{ getFormattedProp(route.id, 'heading') }}</h1>
  <p class="c-summary__lede">{{ getFormattedProp(route.id, 'lede') }}</p>
  <p class="c-summary__lede">{{ getFormattedProp(route.id, 'lede_additional') | safe }}</p>
  <div class="gv-s-prose">
  {{ Block.Group(blocks=route.blocks) }}
  </div>
  </div>
  </div>
  {% for collection in route.collections %}
    {{ SummaryAreas(collection) }}
  {% endfor %}

{% endblock %}