{% extends "templates/app/app.html" %}
{% from 'components/SummaryAreas/SummaryAreas.njk' import SummaryAreas with context %}

{% block stylesheet %}
{{ super() }}
<link href="{{ asset_path }}stylesheets/summary.css" media="screen" rel="stylesheet">
{% endblock %}

{% block page_title %}{{ getFormattedProp(route.id, 'heading') }}{% endblock %}

{% block grid_content %}

  <div class="{{ govukClassname('grid-row') }}">
  <div class="{{ govukClassname('column-two-thirds') }}">
  <h1 class="c-summary__heading {{ govukClassname('heading-xlarge') }}">{{ getFormattedProp(route.id, 'heading') }}</h1>
  <p class="c-summary__lede">{{ getFormattedProp(route.id, 'lede') }}</p>
  <p class="c-summary__lede">{{ getFormattedProp(route.id, 'lede_additional') | safe }}</p>
  <div class="{{ govukClassname('govuk-govspeak') }}">
  {{ Block.Group(blocks=route.blocks) }}
  </div>
  </div>
  </div>
  {% for collection in route.collections %}
    {{ SummaryAreas(collection) }}
  {% endfor %}

{% endblock %}