    </div> <%# wrapper %>

<footer class="group footer js-footer" id="footer" role="contentinfo">
  <div class="full">
  <div class="centralise">
  <div class="footer-wrapper">
    <div class="footer-meta">
      <div class="footer-meta-inner">
        <h2 class="visuallyhidden">Support links</h2>
        <ul>
          <li><a href="/about/cookies">Cookies</a></li>
          <li><a href="/about/terms-conditions">Terms and conditions</a></li>
          <li><a href="/about/privacy">Privacy</a></li>
          <li>Built by <a href="https://mojdigital.blog.gov.uk/about/">MoJ Digital</a>
        </li>
        </ul>
        <div class="open-government-licence">
          <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
          <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
        </div>
      </div>
      <div class="copyright">
        <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
  </div>
  </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="/static/scripts/vendor/js.cookie.js"></script>
    <script>
    if (Cookies.get('seen_cookie_message')) {
      jQuery('#global-cookie-message').addClass('cookie-seen')
    }
    Cookies.set('seen_cookie_message', true, { expires: 28 })
    </script>
    <script>
    var searchArgs = {}
    var search = document.location.search
    if (search) {
      search = search.replace(/^\?/, '')
      var searchChunks = search.split('&')
      for (var i = 0, sLength = searchChunks.length; i < sLength; i++) {
        var argParts = searchChunks[i].split('=')
        searchArgs[argParts[0]] = argParts[1]
      }
    }
    window.ga = window.ga || function () {
      (ga.q = ga.q || []).push(arguments)
    }
    var surveyData = Cookies.getJSON('surveyData') || {}
    surveyData.visited = surveyData.visited || {}
    if (searchArgs.uuid) {
      surveyData.uuid = searchArgs.uuid
    }
    ga('set', 'dimension12', surveyData.uuid)
    var campaignFields = ['campaignName', 'campaignMedium', 'campaignKeyword', 'campaignContent', 'campaignID']
    for (var j = 0; j < campaignFields.length; j++) {
      var campaignField = campaignFields[j]
      if (searchArgs[campaignField]) {
        surveyData[campaignField] = searchArgs[campaignField]
      }
      if (surveyData[campaignField]) {
        ga('set', campaignField, surveyData[campaignField])
      }
    }

    <% if (page.type !== 'about') { %>
    var pageStub = document.location.pathname
                    .replace(/\/$/, '')
                    .replace(/.*\//, '')
                    || 'summary'
    surveyData.visited[pageStub] = true
    <% } %>
    Cookies.set('surveyData', surveyData)

    var visited = []
    for (var page in surveyData.visited) {
      visited.push(page)
    }

    jQuery('a[data-link-type="feedback"]').each(function(){
      var addition = ''
      jQuery.each(visited, function(i, page) {
        addition += addition ? '&' : '?'
        addition += page + '=T'
      })
      this.href += addition
    }).on('click', function(e) {
      if (!visited.length || (visited.length === 1 && visited[0] === 'summary')) {
        var confirmed = confirm('Are you sure you have had enough time to check the site out?')
        if (!confirmed) {
          e.preventDefault()
        }
      }
    })
    </script>
    <% if (GA_TRACKING_ID) { %>
    <script>
    var GA_TRACKING_ID = '<%= GA_TRACKING_ID %>'
    </script>
    <script src="/static/scripts/app/ga.js"></script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
    <script src="/static/scripts/vendor/autotrack.js"></script>
    <script src="/static/scripts/app/ga-plugins.js"></script>
    <script>
    jQuery('.u-btn').each(function() {
      jQuery(this).attr('data-link-type', 'button')
    })
    </script>
    <script src="/static/scripts/app/video-tracking.js"></script>
    <script src="/static/scripts/app/element-tracking.js"></script>
    <% } %>
  </body>
</html>
