<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="content-type" content="text/html">
  <meta name="X-UI-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> <%= page.title %><% if (page.title != 'Get help with child arrangements') { %> | Get help with child arrangements<% } %></title>
  <script>if(window.addEventListener){addEventListener('error', window.__e=function f(e){f.q=f.q||[];f.q.push(e)})}</script>
  <link rel="stylesheet" href="/static/styles/core.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <% include ../components/skiplink.ejs %>
  <% include ../components/gds-header.ejs %>
  <% include ../components/phase-banner.ejs %>
  <div class="wrapper">
