<div class="c c-action-plan">
  <%- page.action_plan_link.text %>
  <a href="<%= page.action_plan_link.button_link %>" style="display: block;margin-top: 15px;"><%= page.action_plan_link.button_text %></a>
</div>
