<div class="c c-filter js-filter centralise">
  <span class="title">Choose the topics you'd like advice on</span>
  <form action="" method="get">
    <ul class="c-filter__list">
      <% groups.forEach(function(page, i) { %>
      <li><label><input type="checkbox" name="<%= page.slug %>" value="true"/><%= page.filter_title || page.title %></label></li>
      <% }); %>
    </ul>
  </form>
</div>
