<header role="banner" class="c-global-header">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" class="logo content">
          <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
        </a>
      </div>
      <h1>Get help with child arrangements</h1>
    </div>
  </div>
</header>
<div class="c-global-header-bar"></div>
