<div class="c-phase-banner-alpha">
 <p>
   <strong class="phase-tag">ALPHA</strong>
   <span>This is a new service – your <a href="#" data-link-type="feedback">feedback</a> will help us to improve it.</span>
 </p>
</div>
