<div class="c c-quick-links">
  <h3>Related topics</h3>
  <ul>
    <% page.quicklinks.forEach(function(ql) { %>
      <li>
        <a class="notworking" href="<%= ql.url%>"><%= ql.name %></a>
      </li>
    <% }) %>
  </ul>
</div>
