<div class="c c-share">
  <ul>
    <li class="c-share__icon c-share__icon--print"><a href="#">Print this page</a></li>
    <li class="c-share__icon c-share__icon--share"><a href="#">Share this page</a></li>
  </ul>
</div>
