<div class="c c-who-is-involved">
  <h2>Who's involved</h2>
  <ul>
    <% page.who_is_involved.forEach(function(wii) { %>
      <% if (wii.value > 0) {%>
        <li class="icon-<%= wii.slug %>"><%= wii.key %><% if(wii.value > 1) { %><span class="lozenge"><%= wii.value %></span> <% } %></li>
      <% }%>
    <% })%>
  </ul>
</div>
