{% extends "templates/base/base.html" %}
    {#{{ setCtx('govuk', govuk) }}#}

{#{{ utils.addMacros(['components/Pish.njk', 'components/Posh.njk']) }}#}

{% block grid_content %}
BLAP - {{woot}}
{% endblock %}
{% block xgrid_content %}

    {{ macros.Pish.toString() }}
    {% set whoop = Object.assign({}, {oof:23}) %}
    {{ whoop.oof }}
    {% turnip "monkey" %}
        Hey turnip - 
    {% endturnip %}
    <pre style="white-space: pre-wrap;">
    {% for g, v in govuk %}
        g:{{g}}
    {% endfor %}
    WHOMP
    twat: {{ twat }}
    counter: {{ counter}}
    woot: {{ woot }}
    gobble: {{ gobble }}
    {# fwomp: {{ fwomp }} #}
    {#% for prop, val in req %}
    {{ prop }}: {{val }}
    {% endfor ´#}
         {#{{ macros | json}}#}
    {#{{ govuk.notice }}#}
    {{macros.foo()}}
    </pre>
    <hr>

    {{ macros.Pish() }}
    {{ macros.Posh() }}
    {{ macros.Posh(rootItemClass='cor blimey', twat='pillio') }}
    {{ govuk.notice('warning', 'Oh hai and all that') }}
    {{ govuk.button(text="Save and continue") }}
    {{ button(text="Wahey and continue") }}
    
{% endblock %}
