<div class="c-card-details">
<% if (page.introduction) { %>
  <% include ../components/headed-text-linked.ejs %>
<% } %>
</div>
<aside>
  <div class="prepare-info">
  <p><strong>Get information on:</strong></p>
  <% if (page.includes && page.includes.length > 0) { %>
    <ul>
      <% page.includes.forEach(function(inc, i) { %>
        <% if (inc.text) { %>
          <li><a href="<%- page.slug %>#<%- inc.anchor %>"><%- inc.text %></a></li>
        <% } else { %>
          <li><%- inc %></li>
        <% } %>
      <% }) %>
    </ul>
  <% } %>
  </div>
</aside>
<% include ../components/read-more-link.ejs %>
