<% include ../components/headed-text.ejs %>
<% page.columns.forEach(function(col, i) { %>
  <div class="col col-<%= i %>">
    <% if (col.title) { %>
      <h2><%= col.title %></h2>
    <% } %>
    <%- col.html %>
  </div>
<% }) %>
